.git
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
coverage
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
*.log
estrutura.txt
Documentacao.pdf
README.md
Dockerfile
docker-compose.yml
.dockerignore