APP_NAME="Loja Virtual SM Componentes"
APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=America/Sao_Paulo
APP_URL=https://SEU-SERVICO.onrender.com
ASSET_URL=https://SEU-SERVICO.onrender.com

DB_CONNECTION=pgsql
DB_HOST=dpg-daa41s9f2nfc7395g1dg-a.oregon-postgres.render.com
DB_PORT=5432
DB_DATABASE=loja_virtual_eilu
DB_USERNAME=loja_virtual_eilu_user
DB_PASSWORD=COLOQUE_A_SENHA_ATUAL_AQUI
DB_SSLMODE=require

CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=log
LOG_CHANNEL=stack
LOG_LEVEL=error

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=contato@smcomponentes.com
MAIL_FROM_NAME="SM Componentes"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_URL=
MERCADOPAGO_ENV=production

VITE_APP_URL=https://SEU-SERVICO.onrender.com

FORCE_HTTPS=true

FORCE_MIGRATION=true
FORCE_SEED=false