APP_NAME="SM Componentes"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
ASSET_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3308
DB_DATABASE=vendas
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
MAIL_MAILER=array
APP_KEY="base64:Umyn3yDkfVJPMV5sINGOOgY9dWMu9z3/TNuc6C+qX7Y="

MERCADOPAGO_PUBLIC_KEY=APP_USR-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MERCADOPAGO_ACCESS_TOKEN=APP_USR-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MERCADOPAGO_WEBHOOK_URL=https://seudominio.com/api/webhooks/mercadopago
MERCADOPAGO_ENV=sandbox